<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangjing.www.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.liangjing.www.model.Company">
    <id column="company_name" jdbcType="VARCHAR" property="companyName" />
  </resultMap>
  <insert id="addcompany" parameterType="java.lang.String" >
    INSERT INTO company(company_name) VALUES (#{companyName,jdbcType=VARCHAR})
  </insert>
  <select id="getListCompanyName" resultType="java.lang.String">
    SELECT company_name FROM company
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from company
    where company_name = #{companyName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.liangjing.www.model.Company">
    insert into company (company_name)
    values (#{companyName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liangjing.www.model.Company">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyName != null">
        company_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>